
style.css
styleguide.css
:root {
  --backgorundwhite: rgba(255, 253, 228, 1);
  --backgroundgreen: rgba(116, 129, 83, 1);
  --black: rgba(26, 28, 26, 1);
  --body-02-font-family: "Inter Tight", Helvetica;
  --body-02-font-size: 20px;
  --body-02-font-style: normal;
  --body-02-font-weight: 500;
  --body-02-letter-spacing: 0px;
  --body-02-line-height: normal;
  --body-font-family: "Inter Tight", Helvetica;
  --body-font-size: 16px;
  --body-font-style: normal;
  --body-font-weight: 500;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --sub-title-font-family: "Inter Tight", Helvetica;
  --sub-title-font-size: 32px;
  --sub-title-font-style: normal;
  --sub-title-font-weight: 500;
  --sub-title-letter-spacing: 0px;
  --sub-title-line-height: normal;
  --title-font-family: "Inter Tight", Helvetica;
  --title-font-size: 48px;
  --title-font-style: italic;
  --title-font-weight: 500;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
}